body {
    text-align: center;
    font-size: 2rem;
}

table {
    border: 1px solid black;
    width: 70%;
}

td {
    border: 1px dotted black;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
}