
body {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
}
 
.main-page-img {
    height: 500px;
    width: 500px;
    margin: 30px;
}

header {
    font-size: 30px;
    text-align: right;
    margin-right: 30px;
    margin-top: 10px;
}

h2 {
    font-family: fantasy;
    font-size: 4rem;
    margin: 30px;
}

a {
    font-size: 2rem;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    margin: 10px;
}

